@model List<Personal>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />





<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>



<div>
    <a href="/Personal/PersonalAdd" class="btn btn-success waves-effect waves-light">Personel Ekle</a>

</div>
<br />

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Dosya No</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Doğum Tarihi</th>
            <th>Telefon</th>
            <th>Detay</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td data-order="1561723222">@item.PersonalID</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.DateOfBirth.ToShortDateString()</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Scope</td>
                
                <td>
                    <a asp-action="PersonalDetails" asp-route-id="@item.PersonalID" asp-controller="Personal" class="btn btn-primary waves-effect waves-light">Detay</a>
                </td>
                <td>
                    <a asp-action="PersonalUpdate" asp-route-id="@item.PersonalID" asp-controller="Personal" class="btn btn-warning waves-effect waves-light">Güncelle</a>
                </td>
                <td>
                    <a href="/Personal/Delete/@item.PersonalID" class="btn btn-danger waves-effect waves-light">Sil</a>
                </td>
            </tr>
        }


    </tbody>

</table>



<script>

    $('#example').DataTable({
        language: {
            info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
            infoEmpty: "Gösterilecek hiç kayıt yok.",
            loadingRecords: "Kayıtlar yükleniyor.",
            zeroRecords: "Herhangi bir sonuç bulunamadı",
            search: "Arama:",
            infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
            buttons: {
                copyTitle: "Panoya kopyalandı.",
                copySuccess: "Panoya %d satır kopyalandı",
                copy: "Kopyala",
                // print: "Yazdır",
            },

            paginate: {
                first: "İlk",
                previous: "Önceki",
                next: "Sonraki",
                last: "Son"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf'/* , 'print' */
        ],

        responsive: true

    });

</script>



<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
