@model List<Patient>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <a href="/Patient/PatientAdd" class="btn btn-success waves-effect waves-light">Hasta Ekle</a>

</div>
<br />

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Dosya No</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Doğum Tarihi</th>
            <th>Telefon</th>
            <th>Ülkesi</th>

            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td data-order="1561723222">@item.PatientID</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.DateOfBirth.ToShortDateString()</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Country</td>
               
                <td>
                    <a asp-action="PatientDetails" asp-route-id="@item.PatientID"  asp-controller="Patient" class="btn btn-primary waves-effect waves-light">Detay</a>
                </td>
                <td>
                    <a asp-action="PatientUpdate" asp-route-id="@item.PatientID" asp-controller="Patient" class="btn btn-warning waves-effect waves-light">Güncelle</a>
                </td>
                <td>
                    <a href="/Patient/PatientDelete/@item.PatientID" class="btn btn-danger waves-effect waves-light">Sil</a>
                </td>
            </tr>
        }


    </tbody>

</table>



