@model List<ReminderDate>

@{
    ViewData["Title"] = "ReminderDate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<style>
    .exportarea {
        display: none !important;
    }

    .d-flex.justify-content-between.searcharea.align-items-center.mx-0.row.mt-2 {
        display: none !important;
    }

</style>



<div class="add-button-top">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
        Ekle
    </button>
</div>
<br />

<div class="card">
    <div class="card-body">
        <table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>S.Nu</th>
            <th>Süre(Gün)</th>
            <th>Başlık</th>
            <th></th>
            <th></th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            count++;
            <tr>
               
                <td>@count</td>
                <td data-count="@item.RemindDayCount">@item.RemindDayCount</td>
                <td data-name="@item.RemindDayCountName">@item.RemindDayCountName</td>

                <td>
                    <a onclick="updateReminder('@item.ReminderDateID')" id="guncelle_@item.ReminderDateID" data-toggle="modal" data-target="#exampleModal2" class="btn btn-warning waves-effect waves-light">Güncelle</a>
                </td>
                <td>
                    <a onclick="deleteReminder('@item.ReminderDateID')" class="btn btn-danger waves-effect waves-light">Sil</a>
                </td>
            </tr>
        }
    </tbody>

</table>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form id="myForm" method="post">
                    <div class="form-group">
                        <label>Süre(Gün):</label>
                        <input type="number" class="form-control" id="Count">
                    </div>
                    <div class="form-group">
                        <label>Başlık:</label>
                        <input type="text" class="form-control" id="CountName">
                    </div>

                    <!-- Add more form fields here -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <!-- Button to Submit Form -->
                <button type="button" class="btn btn-primary" onclick="submitForm()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form id="myForm2" method="post">

                    <input type="text" class="form-control" id="ReminderID" value="" hidden>
                    <div class="form-group">
                        <label>Süre(Gün):</label>
                        <input type="number" class="form-control" id="CountUpdate">
                    </div>
                    <div class="form-group">
                        <label>Başlık:</label>
                        <input type="text" class="form-control" id="CountNameUpdate">
                    </div>

                    <!-- Add more form fields here -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <!-- Button to Submit Form -->
                <button type="button" class="btn btn-primary" onclick="updateform()">Güncelle</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
@* <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> *@
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    
    function submitForm() {
        var formData = {
            RemindDayCount: $("#Count").val(),
            RemindDayCountName: $("#CountName").val(),
            Add: true
        
        };

        $.ajax({
            url: "/Definitions/ReminderDate",
            type: "POST",
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {

            }
        });
    }

    function updateReminder(id) { 
        var count = $("#guncelle_" + id).closest("tr").find("td[data-count]").data("count");
        var countName = $("#guncelle_" + id).closest("tr").find("td[data-name]").data("name");
        // $("#ReminderID").val(id);
        // $("#Count").val(count);
        // $("#CountName").val(countName);
    debugger;

        // Başlık ve ChronicProblemsID değerlerini modal içindeki giriş alanlarına yerleştir
        $("#myForm2 #ReminderID").val(id);
        $("#myForm2 #CountUpdate").val(count);
        $("#myForm2 #CountNameUpdate").val(countName);
    }

    function updateform() {
        
        var ReminderID = $("#ReminderID").val();
        var countupdate = $("#CountUpdate").val();
        var countNameupdate = $("#CountNameUpdate").val();
        var Update = true;

        // HTTP isteği yap
        $.ajax({
            url: '/Definitions/ReminderDate', // Controller ve action adınıza göre değiştirin
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({ ReminderDateID: ReminderID, RemindDayCount: countupdate, RemindDayCountName: countNameupdate, Update: true }),
            success: function (response) {
                // Başarılı yanıt alındığında yapılacak işlemler
                // Örneğin, modalı kapatmak
                $("#exampleModal2").modal("hide");
                location.reload();
                // Sayfayı yeniden yüklemek veya başka bir işlem yapmak için gerekirse buraya ekleyebilirsiniz
            },
            error: function (xhr, status, error) {
                // Hata durumunda yapılacak işlemler
                console.error(error);
                // Hata mesajını kullanıcıya gösterebilirsiniz
            }
        });
    }


</script>


<script>

    function deleteReminder(id) {
        $.ajax({
            url: '/Definitions/ReminderDate',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({ ReminderDateID: id }), // Doğru özellik adı
            success: function (data) {
                location.reload();
            },
            error: function (error) {
                // Hata yanıtını işleyin
            }
        });
    }




</script>
